{
    "credentials": {
        "username": "test",
        "password": "test"
    },
    "accounts": [
        "taeri__taeri"
    ],
    "photos": [
        "BTcb3esjjVo"
    ],
    "photo_sets": [
        "BZF0fbXj3zV"
    ],
    "videos": [
        "BV76rluDGsC"
    ],
    "locations": [
        251729389
    ],
    "tags": [
        "instagram"
    ],
    "anon": {
        "global_delay": {
            "min": 0.5,
            "max": 1.5
        },
        "local_delay": {
            "min": 0.2,
            "max": 0.6
        }
    },
    "auth": {
        "global_delay": {
            "min": 5,
            "max": 15
        },
        "local_delay": {
            "min": 2,
            "max": 6
        }
    }
}
